<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css"
  </head>


  <body>
    <div class="container-fluid bg-light">
      <div class="row">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mx-0">
          <div class="container-fluid">
            <a class="navbar-brand" href="/products/all">
              <div class="logo-image" id="navlogo">
                    <img src="https://res.cloudinary.com/dc9n2casu/image/upload/v1638271447/random%20images/tkbs-xs_hfzwdv.png" class="img-fluid max-height-40%">
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Shop By Category</a>
                </li>

              {{!-- Shop By Dropdown --}}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="shopByDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Create Product
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="shopByDropdown">
                    <li><a class="dropdown-item" href="/products/keyboardcases/create">Case</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardpcb/create">PCB</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardplate/create">Plate</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardstabilizer/create">Stabilizer</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardswitch/create">Switch</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardkeycap/create">Keycap</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/products/product/create">Something else here</a></li>
                  </ul>
                </li>
                
              
            {{!-- Create menu --}}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Null
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/products/keyboardcases/create">Case</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardpcb/create">PCB</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardplate/create">Plate</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardstabilizer/create">Stabilizer</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardswitch/create">Switch</a></li>
                    <li><a class="dropdown-item" href="/products/keyboardkeycap/create">Keycap</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>

              {{!-- Right side components --}}
              {{!-- Display username and dropdown options menu --}}
              <div class="d-flex, text-white">
                {{#if customer}}
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{customer.username}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <li><a class="dropdown-item" href="/users/customer/logout">Logout</a></li>
                    <li><a class="dropdown-item" href="/users/register">Edit Account</a></li>
                  </ul>
                </li>
                <a class="navbar-brand" href="/cart/basket">
                  <div class="logo-image" id="cartlogo">
                    <img src="https://res.cloudinary.com/dc9n2casu/image/upload/v1638751891/cart_fdcb5u.png" class="img-fluid">
                  </div>
                </a>
                {{else}}
                
                <div>Welcome, Guest!</div>
                
                <a href="/users/customer/login" class="ml-3 btn btn-primary btn-sm" id="loginbtn" >Login</a>
                {{/if}}
                
              </div>
            </div>
          </div>
        </nav>
      </div>
    {{#if success_messages }}
    {{#each success_messages}}
      <div class="alert alert-success">
        {{this}}
      </div>
    {{/each}}
      {{/if}}
      {{#if error_messages}}
        {{#each error_messages}}
          <div class="alert alert-danger">
            {{this}}
          </div>
        {{/each}}
      {{/if}}
    {{#block 'content'}}
    {{/block}}

    <div class="text-center color-primary bg-dark text-white">
      {{!-- <a href="https://discord.gg/5bUfDVTjHY" target="_blank" class="ml-3 btn btn-outline-white btn-success btn-sm">
      Join our Discord!
      </a><br> --}}
      <div>
        <h7>Join Our Discord Server!</h7>
        <a class="ml-3 btn btn-sm" id="discordlink" href="https://discord.gg/5bUfDVTjHY">
          <div class="logo-image">
            <img src="https://res.cloudinary.com/dc9n2casu/image/upload/v1638271447/random%20images/tkbs-xs_hfzwdv.png" class="img-fluid max-height-40%">
          </div>
        </a>
      </div>
    </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    {{#block 'js'}}
    {{/block}}
  </body>
</html>