<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Keyboard Shop</title>
</head>
<body id="body">
    {{#extends 'base'}}
{{#block 'content'}}
  

<div id="landingdiv" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000" >
      <img src="https://res.cloudinary.com/dc9n2casu/image/upload/v1639046811/Untitled-1_djkwyn.png" id="slideimage1"  alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000" >
      <img src="https://res.cloudinary.com/dc9n2casu/image/upload/v1639049284/crq8kx6eteq41_dbkqim.jpg" id="slideimage2"  alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000" >
      <img src="https://res.cloudinary.com/dc9n2casu/image/upload/v1639049569/Pulse-Noire_gcohcj.png" id="slideimage3"  alt="...">
    </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{{/block}}
{{/extends}}
    
</body>
</html>





