#body{
    justify-content: center;
}
#Card{
    height:40rem;
    width: 23rem;
    border-radius: 10px;
    margin-right: 400px;
    margin-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-self: center;
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    background: linear-gradient(transparent, rgb(84, 0, 139));
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10rem;
    background: transparent;
}

#cardContainer{
    justify-content: center;
}

#searchForm{
    justify-content: center;
    
    
}

#nextButton{
    justify-content:end;
}

#discordlink{
    background-color: rgb(75, 122, 211);
    outline-color: rgb(206, 223, 255);
}    

#navlogo{
    background-color:rgb(255, 166, 0);
    border-radius: 12px;
    padding-left: 4px;
    
    

}