#body{
    justify-content: center;
}

#externalbackground{
    background-color: rgba(86, 181, 245, 0.1);
    justify-content: center;
    
}
#header{
    margin-left: 130px;
    
}
#Card{
    height:40rem;
    width: 23rem;
    border-radius: 10px;
    margin-right: 400px;
    margin-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-self: center;
    background-color: rgba(100, 100, 100, 0.1);
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    background: linear-gradient(transparent, rgb(84, 0, 139));
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10rem;
    background: transparent;
}
#Card:hover{
    background-color: rgba(252, 206, 0, 0.2);
    transform: translateY(-10px) rotate(1.5deg) ;
    
    box-shadow: rgb(194, 0, 0);
    transition: 500ms;
}
#cardimage{
    height: 350px;
    object-fit: cover;
    
}
.list-group-item{
    background-color: rgba(221, 221, 221, 0.1);

}
#cardContainer{
    justify-content: center;
}

#searchForm{
    justify-content: center;
    
    
}

#nextButton{
    justify-content:end;
}

#discordlink{
    background-color: rgb(75, 122, 211);
    outline-color: rgb(206, 223, 255);
}    

#navlogo{
    background-color:rgb(255, 166, 0);
    border-radius: 12px;
    padding-left: 4px;
    
    

}