{{#extends 'base'}}
{{#block 'content'}}
<h2>
    Sorry, there was an error with processing the payment, please try again. 
</h2>
<a href="/cart/basket" class='btn btn-primary my-3'>Back to Shopping Cart</a>

{{/block}}
{{/extends}}