{{#extends 'base'}}
{{#block 'content'}}

<h2>
    Payment has been successfully made!
</h2>
<h6>
    You should receive an email from our friendly keyboard builders about your orders within the next 24 hours!
</h6>

<a href="/products/all" class='btn btn-primary my-3'>Back to Catalog</a>
{{/block}}
{{/extends}}