{{#extends 'base'}}
{{#block 'content'}}
<div class="row d-flex justify-content-center text-center">
    <div class="col-4" >
        <h1 class="text-center">Create Account</h1>
    </div>
    <div class="w-100"></div>
    <div class="text-center col-4" >
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        {{{form}}}
        <input type="submit" value="Register" class="btn btn-primary my-3"/>
    </div>
</div>
{{/block}}
</form>
{{/extends}}