{{#extends 'base'}}
    {{#block 'content'}}
        <h1>Admin Login</h1>
        <p>Please login to your staff account below.</p>
        <form method="POST">
        {{{form}}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <input type="submit" class="btn btn-primary" value="Login"/>
        </form>
    {{/block}}
{{/extends}}