{{#extends 'base'}}
{{#block 'content'}}
<h1>Welcome {{user.username}}, update your details</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
{{{form}}}
<input type="submit" value="Update profile" class="btn btn-primary"/>
{{/block}}
</form>
{{/extends}}